@import "stylesheet/media-queries/320px.css";
@import "stylesheet/media-queries/420px.css";
@import "stylesheet/media-queries/600px.css";
@import "stylesheet/media-queries/768px.css";
@import "stylesheet/media-queries/900px.css";
@import "stylesheet/media-queries/1024px.css";
@import "stylesheet/media-queries/1200px.css";


*{
  /* border: 1px solid red; */
}

body {
  /* background-color: #D4ECDD; */
  background-color: white;
  font-family: Montserrat, sans-seriff;
}

.navwrap {
  background-color: #D4ECDD;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu{
 padding: 1rem;
}

#contact-link{
  padding: 1rem;
}
.main-body-wrap{
  position: relative;
}
.main {
  height: 90vh;
  background-color: #D4ECDD;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  flex-grow: 1;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  /* border-radius: 50px; */
}

#description {
  flex-basis: 0;
  padding: 10px;
  width: 30%;
  margin: auto;
}

#image-wrap{
    padding: 10px;
    flex-basis: 0;
    width: 30%;
    margin: auto;
}


/* #image-me{
  max-width: 200px;
  /* border-radius: 50px; */
  /* padding: 10 0 0 10;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  margin: 10px;
} */

.projects-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  text-align: center;
}

.projects-wrapper h2{
  height: 10vh;
}

.projects{
  display: flex;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding: 5px;
  margin: 50px;
  width: 70%;
}

.projects h3, p{
  text-align: left;
}

.projects img{

 width: 100%;
}

.footer{
  background-color: #112031;
  color: white;
  text-align: center;
}

.footer ul {
  list-style: none;
}

.footer li{
  display: inline-block;
  padding: 10px;
}

.footer a {
  color: white;
  font-size: large;
  background-color: ;
}

.footer a:hover {
  color: #D4ECDD;
}
