@import "media-queries-desktop-first/1200px.css";
@import "media-queries-desktop-first/1024px.css";
@import "media-queries-desktop-first/900px.css";
@import "media-queries-desktop-first/768px.css";
@import "media-queries-desktop-first/600px.css";
@import "media-queries-desktop-first/420px.css";
@import "media-queries-desktop-first/320px.css";

body, html{
  margin:0;
  padding:0;
  font-family: Montserrat;
}

.hidden{
  display: none !important;
}


.main-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #006494;
}

.logo{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.logo a{
  height: 100%;
}
.logo a img{
  height: 30px;
  vertical-align: bottom;
  padding-left: 10px;
}
.links{

}
.nav-bar li {
  list-style-type: none;
  display: inline;
  padding: 10px;
  text-decoration: none;
}

.nav-bar a{
  text-decoration: none;
  color: black;
}

.about-me{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #00A6FB;
  width: 100%;
  height: 75vh;
  margin-bottom: 10px;
}
.about-me a {
  text-decoration: none;
  color: black;
}

.about-me a:hover{
  color: aliceblue;
}

.image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.images img{
  height: 200px;
  padding: 10px;
  border-radius: 25px;
}



.projects-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 20vh;
}

.projects{
  background-color: #00A6FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 500px;

}

#project-1{
  height: 40%;
  margin-bottom: 10px;
  width: 60%;;
  border: 1px solid black;
}

#project-2{

  height: 40%;
  width: 60%;
  border: 1px solid black;
  margin-bottom: 10px;
}

.footer{
  background-color: #006494;
  text-align: center;
  list-style-type: none;
}

.footer ul{
  padding: 0px;
  margin: 0px;

}

.footer li{
  list-style-type: none;
  padding: 10px;
  display: inline;
  color: bl;
}

.footer a{
  color: black;
}
